*{
    padding: 0;
    margin: 0;
    font-family: "DM Sans", sans-serif;
}


/* NAVBAR.JSX */

.navbar{
    height: 64px !important;
    background-color: white;
    color: black !important;
}

.navbar-wrapper{
    height: 100% !important;
    
}

.navbar-wrapper-inside{
    height: 100% !important;
}

.sidebar{
    max-width: 70px;
    width: 70px !important;
    padding-top: 64px;
    background-color: #0e111a !important;
}

.sidebar-wrapper{
    padding: 16px 8px;
}

.sidebar-wrapper ul li{
    font-size: 10px !important;
}

.sidebar-wrapper ul li a{
    flex-direction: column;
    width: 100%;
    max-width: 100%;
}

.second-sidebar{
    margin-left: 70px;
    max-width: 180px;
    width: 180px !important;
    padding-top: 64px;
    background-color: #0e111a !important;
}

.second-sidebar-wrapper{
    padding: 16px 8px;
}

.second-sidebar-wrapper ul li{
    font-size: 14px !important;
}

.second-sidebar-wrapper ul li a{
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 4px 16px;
}


/* NEWREIMBURSEMENT.JSX */

.fixed-form{
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    overflow-y: auto;
    background-color:white;
    color: black;
    z-index: 1000;
    padding: 1.75rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
}

.form-wrapper{
    font-size: 10px;
}

/* PAGES */

.main{
    padding-left: 250px !important;
    background-color: #f6f6f9;
    height: 100vh;
}

.main-wrapper{
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 100%;
}

.page-content{
    padding: 78px 12px 60px;
    height: 100vh;
}

.page-header{
    margin-bottom: 1.5rem;
}

.button{
    padding: 8px 10px;
    font-size: 12px;
    line-height: 1;
    border-radius: 7px !important;
}

.page-table{
    font-size: 10px !important;
    background-color: white;
    color: black !important;
    border-radius: 1rem;
}

.pagination{
    padding-left: 8px;
    padding-right: 8px;
}

/* REIMBURSEMENT.JSX */

.reimbursement-button{
    background-color: #4fb1e4;
    color: white;
}



/* LOGIN.JSX */

.login-page{
    position: relative;
    z-index: 100;
}

.login-image{
    align-items: center;
    background-color: #e9f7ff;
    background-image: url(/src/images/welcome-screen.0dd881d5fe24979db289.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.login-main{
    background-color: #0e111a;
    color: white;
}

.login-form-wrapper{
    padding: 20px 0px;
    width: 45%;
    margin: auto;
}

.login-form-wrapper-inside{
    margin-bottom: 40px;
}

.title{
    font-size: 32px;
}

.tagline{
    font-size: 16px;
}

.login-input-group input{
    height: 55px;
    padding: 0px 16px;
    margin-bottom: 1.5rem;
}

.forgot-pass{
    font-size: 13px !important;
    font-style: italic;
}

.extra-fields{
    justify-content:space-between ;
    font-size: 14px;
}